[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=MONGO=true
Environment=MONGO_URL="mongodb://mongodb.sunny.du.devops.us.to:27017/catalogue"
ExecStart=/bin/node /home/roboshop/catalogue/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target
