[Unit]
Description = cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis.sunny.du.devops.us.to
Environment=CATALOGUE_HOST=catalogue.sunny.du.devops.us.to
ExecStart=/bin/node /home/roboshop/cart/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target
